/* ***************** Default Style for 50in50 *************** */
//Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

//this means the borders, padding, etc won't affect the absolute width/height of an element.
* {
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;//full viewable height of window
    overflow: hidden;
}

/* ***************** End Default Style for 50in50 *************** */

$color1: rgb(3, 161, 253);
$color2: rgb(197, 197, 197);



.progress-container {
    width: 20em;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.empty-progress{
    background-color: $color2;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%); //move it up to the middle
    z-index: -2;
    width:100%;
}

.progress{
    background-color: $color1;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%); //move it up to the middle
    z-index: -1;
    transition: 500ms ease;
}

.progress0 {   
    width: 0%;
}
.progress1 {
    width: 33%;
}
.progress2 {
    width: 66%;
}
.progress3 {
    width: 100%;
}

.circle {
    border: 4px solid $color2;
    padding: .2em .5em;
    border-radius: 50%;
    background-color:white;
}

.active {
    border-color: $color1;
}


.btn {
    display:inline;
    background-color: $color1;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    cursor:pointer;
    box-shadow: 5px 5px 15px 5px $color2;
}

.btn:disabled {
    background-color: $color2;
    box-shadow:none;
    cursor:unset;
}

